@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------KAShif CSS---------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
:root{
  --primary-color:#007AFF;
  --secondary-color:#FF8500;
  --tertiary-color:#101828;

  --primary-font:'inter',sans-serif;
  --font-regular: 400;
  --font-semibold: 600;
}
*{
   margin: 0;
   padding: 0;
  font-family: var(--primary-font);
}
p{
  margin: 0 !important;
}
h1,h2,h3,h4,h5,h6 ,p, div ,span{
  font-family: var(--primary-font);

}
span{
  color:#007AFF;
}
body {
  font-family: var(--primary-font);
}
.pr-0
{
  padding-right: 0;
}
.pl-0
{
  padding-left: 0px !important;
}
ul{
  margin: 0;
  padding:0;
}

/* -------------------Header Start----------------- */
.header_box{
  position:relative;
   /* width: 1440px; */
   height: 76px ;
}
.header_content_box{
  width: 1277px;
  height: 42px;
  position: relative;
  padding: 17px 83px;    
    /* top: 17px;          */
}
.inner_stroke {
  /* font-size: 100px; */
  color: #000000; 
  text-shadow: 
      -1px -1px 0 #ffffff,
      1px -1px 0 #ffffff, 
      -1px 1px 0 #ffffff, 
      1px 1px 0 #ffffff;
}
.menu_list ul {
  margin: 0 !important;

}
.auth_details ul{
  margin: 0 !important;
}
.menu_list ul li {
  list-style-type: none;
  padding:0 10px;
  display: inline;
  font-size:16px;
  font-weight: bold;
  cursor:pointer;
}
.auth_details ul li {
  list-style-type: none;
  padding:0 5px;
  display: inline;
}
.logo_design{
  font-size:30px;
  font-weight: bold;
  color:var(--secondary-color);
}
.logo_left_part{
  color:var(--secondary-color);
}
.logo_right_part{
  color:var(--primary-color);
}
.auth_seprator{
  color:#D9D9D9;
}
.login_typo, .signup_typo{
  font-size:18px;
  font-weight: bold;
  color:var(--secondary-color);
  cursor:pointer;
}
.signup_btn{
  width: 112px;
  height: 42px;
  border: none;
  border-radius: 21px;
  background-color: #007AFF;
  color:#FFFFFF
}
.dropdown_positioning{
  padding-left:4px;
}
.active_menu_clr{
  color:var(--primary-color);
}
.menu_list ul li a ,.auth_details ul li a {
  color: inherit; 
  text-decoration: none; 
}


/* ---------------------Header End--------------------- */

/* ---------------------Search Engine start----------------- */
.searchEngine_main{
  background-image: url('/assets/HomePage/bg.png');
  background-repeat: no-repeat;
  height: 424px;
  /* width: 1440px; */
}
.search_container{
  width: 959px;
  height: 288px;
  display: flex;
  align-items: center;
  padding-left: 83px;
}
.searchEngine_heading{
  color:#ffffff;
  font-size:60px;
  font-weight: 3  00;
  line-height:1.2;
}
.searchEngine_inputs{
  /* margin-top:10px;   */
  height: 108px;
  background-image: URL('/assets/HomePage/Rectangle 1.png');
  margin-left: 83px;
  padding: 36px;
  position: relative;

}
.location_container{
  width: 42%; 
  margin-left:5px;

}
.locaton_input{
  width: 100%;
  padding: 8px 8px 8px 8px;
  border:none;
  border-radius: 4px;
  font-size: 16px;
  
}
.gps_settings{
  position: absolute;
  right:60%;
  top:50%;
  transform:translateY(-49%);
}
.user_settings{
  position: absolute;
  right:23%;
  top:50%;
  transform:translateY(-49%);
}

.locaton_input::placeholder{
    font-size:14px;
    color:#101828;
    font-family: var(--primary-font);
}
.btn_typography{
  padding: 8px 8px 8px 8px;
  width: 109px;
  margin-left:5px;
  background-color:var(--secondary-color) !important;
  border: none !important;
  height: 40px;
}
/* ---------------------Search Engine end----------------- */


/* -------------------Services Start--------------------------- */
.services_main,.ourMoto_main{
  margin-top:50px;
  padding:20px 60px;
}
.askQuestion_block{
  width: 286px;
  /* height: 342px; */
  /* margin:5px  0px; */
}
.services_heading , .attornyReviewHeading{
  font-size: 24px;
  font-weight: 600;
  padding:12px;
  color:#101828;
}
.services_content{
  color:#101828;
  font-size: 16px;
  padding:0px 12px 12px 12px;
}
.read_more_btn{
  /* width: 130px; */
  /* height: 28px; */
  color:#A2A2A2;
  font-size:18px;
  font-weight:600;
  padding:0px 12px 12px 12px;
 cursor:pointer;
}
.readMore_icon{
 size:24px !important;
 margin-left:8px;
 margin-top:2px;

}
.read_more_btn:hover{
  color:var(--secondary-color);
}
.services_shadow_effect{
  border-radius: 0px 0px 24px 24px;
  box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.12);
}
/* ----------------------Services End --------------------------- */

/* ------------------our Moto ---------------------------------------- */
.motoHeading{
  padding: 0px 80px;
  width: 1223px;
  /* height: 113px; */
  font-size:42px;
  font-weight: 600;
  text-align: center;
  color: #101828;
}
.moto_content{

  text-align: center;
  color: #101828;
  font-size:21px;
  font-weight: 400;
}


/* ------------------our Moto ---------------------------------------- */

/* -----------------Attorny Services and info  Start----------------------------- */
.atternyReview_main ,.atternyInfo_main{
  margin-top:50px;
  padding:20px 60px;
  border-radius: 14px;
}
.box_shadow{
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.09);
  padding: 10px 0px;
}
.atternyReview_clone{
  width:1280px;
  /* height: 162px; */
}
.atternyInfo_clone{
  width:1280px;
  /* height: 311px; */
}
.bullets_typography{
  font-size:16px;
  font-weight:600;
  color:#101828;
  padding-left: 10px;
  /* line-height: 26px; */
}
.attorny_info_points h4{
  margin-bottom: 0  !important;
}
.attorny_info_points{
  margin-top:50px;
}
.InfoCheck_settings{
  padding:4px 0px;
}

/* -----------------WHy Choose US------------------------ */
.WhyUs_main , .find_lawyers_main{
  margin-top:50px;
  padding:0px 60px;
  width:1280px;
  /* height: 602px; */
}
.content_block{
  width: 589px;
   gap:10px;
}
.whyUs_heading{
  font-size: 42px;
  font-weight: 600;
  padding:24px  70px;
  gap: 26px;
}
.chooseUs_heading{
  font-size: 24px;
  font-weight: 600;
  line-height: 29.05px;
  text-align: left;
  color: #101828;
}
/* .whyUs_content_container{
  padding:30px;
} */
.whyUs_content{
  padding:26px 23px;
  width: 544px;
}
.dotPattern_settings{
  padding: 8px 8px 8px 0px;
}
.whyUs_child_data{
  padding-left: 38px;
  padding-top: 4px;
  font-size:18px;
  font-weight: 400;
  line-height: 26px;
}

/* -------------------------Find Lawyers Section-------------------- */
.find_lawyer_heading{
    font-size: 42px;
    font-weight: 600;
    line-height: 56.19px;
    text-align: center;
    padding-bottom: 30px;
}
.search_by_location{
  font-size: 32px;
  font-weight: 600;
  line-height: 38.73px;
  text-align: left;
  color: #101828;
  padding-bottom: 10px;


}
.find_lawyers_main p {
  font-size: 18px;
  font-weight: 500;
  line-height: 24.2px;
  text-align: left;
   color: #101828;
   text-align: center;
}
.link_btn{
  cursor:pointer;
}

/* -------------------Blogs and Article Section ----------------- */
.Blogs_main{
  margin-top:50px;
  padding:0px 0px 60px 60px;
  width:1280px;
  /* height: 602px; */
}
.blog_card{
  background-color: white;
  width: 643px;
  border-radius: 50px;
  padding: 30px;
  box-shadow: 0px 4px 20px 0px #00000017;
}
.blog_card h2{
    font-size: 42px;
    font-weight: 600;
    line-height: 54px;
    text-align: left;
    color:#101828;
}
.blog_card p{
font-size: 18px;
font-weight: 400;
line-height: 32.4px;
text-align: left;
color:#101828;
padding:20px 0px
}
.blogs_drops_content{
  padding-left:12px
}
.blogs_drops_content h5{

    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
    text-align: left;

}
.blogs_drops_content p{
 padding:0px;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;

}
.blogs_drops_content img :hover{
  color:#FF8500;
}
.read_more{
      color: #FF8500;
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
      text-align: center;
      text-decoration: none;    
}
/* -------------Subsription Component start--------- */
.subscription_main{
  position: relative;
}
.subscription_box{
  background-image: url('/assets/HomePage/rectangle.png');
  height: 500px;
}
.subscrip_allignment{
  display: flex;
  justify-content: center; 
  align-items: center;    
  /* height: 100vh;   */
}
.subscription_box h3{
font-size: 42px;
font-weight: 600;
line-height: 56.19px;
/* text-align: center; */
color:#101828;
}
.subscription_box p{
font-size: 21px;
font-weight: 400;
line-height: 37.8px;
text-align: left;
color:#101828;
padding-top: 10px;
}
.subscription_box img {
  cursor:pointer;
}
.crime_banner{
  position:absolute;
  top:385px;
}
.youtube_heading{
font-size: 42px;
font-weight: 600;
line-height: 54px;
text-align: left;
color: #101828;
/* width: 465px; */
padding: 150px 0px 0px 190px;
}

/* ---------------Footer---------------------------- */
.set_foooter_m{
  margin-top:10rem
}
.footer_box{
  /* width: 1440px; */
  top: 5118px;
  gap: 0px;
  opacity: 0px;
  background: #007AFF0A;
  margin-top: 150px;
}
.footer_content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 325px;
}
.footer_content ul {
  display: flex; 
  justify-content: center;
  list-style-type: none;
  margin:20px 0px;
}

.footer_content ul li {
  /* display: inline; */
  margin:0px 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  text-align: center;
  cursor: pointer;
  color: #2D3748;
}
.copyWrite_msg{
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: center;
color: #718096;
}
.logo_styling{
  justify-content: center;
  margin: 0;
}

/* ----------------------------Lawyers List Start ------------------------- */
.lawyerList_span{
  font-size: 24px;
  font-weight: 600;
  line-height: 29.05px;
  text-align: left;
  color:#007AFF;
}
.lawyerList_star{
  color:#FFC107;
  width: 18px;
  height: 18px;
  gap: 0px;
  opacity: 0px;

}
.info h2{
font-size: 42px;
font-weight: 600;
line-height: 54px;
text-align: left;
color: #222222;


}
.info-p
{
font-size: 21px;
font-weight: 500;
line-height: 26px;
text-align: left;
margin: 2px 0px;
color:#101828;
/* margin:3px 0px; */
}
.rotate_tag{
  transform: rotate(80deg);
}
.lawyer_disc{
font-size: 17px;
font-weight: 400;
line-height: 26px;
text-align: left;
color: #101828;
}
.info_subHeading {
font-size: 18px;
font-weight: 400;
line-height: 26px;
text-align: left;
color:#101828;
opacity: 70%;
}
.info_subHeading span{
font-size: 18px;
font-weight: 700;
line-height: 26px;
text-align: left;
color:#101828;
opacity: 70%;
}
.consultant_btn{
  /* width: Hug (204px)px;
  height: Hug (43px)px; */
  padding: 12px 18px 12px 18px !important;
  gap: 10px !important;
  border: none !important;
  border-radius: 70px  !important;
  opacity: 0px !important;
  background-color:#52A304 !important;

    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 19.36px !important;
    text-align: left;



}
.emailsection a
{
    text-decoration: none;
    padding: 20px 30px;
    margin-top: 10px;
}
.button-container {
display: flex;
flex-direction: column;
gap: 15px;
margin-top: 30px !important;
}

.free-cont
{
color: #007aff;
font-size: 16px;
font-weight: 600;
line-height: 19.36px;
text-align: left;

}
.buttons-sec button {
padding: 10px 20px;
border: 1px solid #000;
border-radius: 5px;
background-color: white;
color: black;
font-size: 16px;
display: flex;
align-items: center;
gap: 10px;
cursor: pointer;
transition: background-color 0.3s, color 0.3s;
}

.buttons-sec .email-btn, .website-btn {
border-color: #000;
}

.buttons-sec .phone-btn {
/* width: 267px; */
height:57px;
padding: 16px 32px 16px 32px;
gap: 12px;
border-radius: 10px;
opacity: 0px;
background: #007AFF;
margin-left: 20px ;
color:white;
border:none !important;
text-align: center;
justify-content: center;
}
/* .phoneIntalk{
  color:#ffffff !important;
} */

.buttons-sec  button:hover {
background-color: #e0e0e0;
}

.buttons-sec  .phone-btn:hover {
background-color: #0056b3;
}

.buttons-sec .icon {
font-size: 18px;
}
.saved
{
color: #007aff;
}
.details
{
  width: 267px;
  height: 169px;
  top: 1515px;
  left: 1069px;
  gap: 0px;
  border-radius: 12px;
  /* opacity:8%; */
   margin-left: 20px ;
   background:#EBF4FF;
}
.details h5{
font-size: 21px;
font-weight: 500;
line-height: 26px;
text-align: left;
color: #101828;
padding:4px 0px;
text-align: center;

}
.details p
{
  font-size: 16px;
  font-weight: 400;
  /* line-height: 26px; */
  text-align: left;
  color: #101828;
  padding-left: 12px;
  /* text-align: center; */
  /* padding:4px 0px; */

  
}
.imgset
{
height: 350px;
width: 100%;

}
.defesnse
{
  font-size: 24px;
  font-weight: 600;
  line-height: 29.05px;
  text-align: left;
  color:#101828; 
}

.img_holding_box{
  width: 370px;
  height: 376px;
}
.phoneIcon{
  color:#ffff !important;
}

/* -----------------------------------Lawyer Profile ----------------------------------- */
.emailsection a
{
    text-decoration: none;
    padding: 20px 30px;
    margin-top: 10px;
}
.button-container {
display: flex;
flex-direction: column;
gap: 15px;
margin-top: 100px !important;
}

.free-cont
{
color: #007aff;
font-weight: 600;
margin-left: 10px;
}
.buttons-sec button {
padding: 10px 20px;
border: 1px solid #000;
border-radius: 5px;
background-color: white;
color: black;
font-size: 16px;
display: flex;
align-items: center;
gap: 10px;
cursor: pointer;
transition: background-color 0.3s, color 0.3s;
}

.buttons-sec .email-btn, .website-btn {
border-color: #000;
}

.buttons-sec .phone-btn {
background-color: #007bff;
border-color: #007bff;
color: white;
}

.buttons-sec  button:hover {
background-color: #e0e0e0;
}

.buttons-sec  .phone-btn:hover {
background-color: #0056b3;
}

.buttons-sec .icon {
font-size: 18px;
}


/* navmenu */
.nav-menu {
list-style-type: none;
padding: 0;
margin: 0;
display: flex;
gap: 15px;
font-size: 16px;
}

.nav-menu li {
display: inline;
}

.nav-menu a {
text-decoration: none;
color: #101828;
padding: 8px 12px;
transition: color 0.3s;
}

.nav-menu a:hover {
color: #007bff; /* Hover color */
}

.nav-menu .active {
color: #007bff; /* Active link color */
font-weight: bold;
}


/* about us section */
.practice-areas
{
margin-top:40px;
margin-bottom: 40px;
}

.practice-areas h2 {
font-weight: bold;
}

.practice-areas p {
margin-bottom: 30px;
font-size: 16px;
color: #6c757d;
}

.area-box {
  width: 350px;
  height:150px;
 /* display: flex; */
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  border-left: 8px solid #052460;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
 
.area-box h5 {
  margin-top:20px;
  font-size: 26px;
  font-weight: 500;
  line-height: 31.47px;
  text-align: center;
  
}

.percentage {
font-size: 28px;
font-weight: bold;
color: #343a40;
}

@media (max-width: 768px) {
.area-box {
padding: 15px;
}
.percentage {
font-size: 24px;
}
}


/* profile section */
.profile-section {
margin-bottom: 40px;
}

.section-title {
  font-size: 28px;
  font-weight: 600;
  line-height: 33.89px;
  text-align: left;
  color:#101828;
  
}

.profile-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 32.4px;
  text-align: left;
  color:#101828;
  text-align: justify;
}

.stats-box {
background-color: #007aff;
padding: 10px;
color: #ffffff;
border-radius: 100px;
font-size: 16px;
font-weight: bold;
margin-bottom: 20px;
}

/* // leagel cases */

.cases
{
color: #ff8d10;
}
.legal-case h2 ,h3, p{
  color:#101828
}
.legal-case h2
{
  font-size: 32px;
  font-weight: 600;
  line-height: 38.73px;
  text-align: left;
  
}
.legal-case h3
{
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  
}
.legal-case p {
  margin:3px 0px;
font-size: 18px;
font-weight: 400;
line-height: 32.4px;
text-align: left;

}

/* resume section */
.resume h2
{
font-weight: 700;

}

.view-resume a
{
text-decoration: none;
color: #007AFF;
font-size: 24px;
font-weight: 600;
line-height: 29.05px;
text-align: left;
}
.resume_bg{
  background-color: #007AFF0D;
box-shadow: 0px 4px 20px 0px #00000017;
}
.resume-detial
{
margin-top: 40px;
}
.resume-detial h3{
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  color: #101828;

}
.resume-detial h5{
  font-size: 22px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  color: #101828;
 
}

.rising
{
margin-top: 80px;
}
.hns
{
color: #ff8d10;
}
.hns a
{
text-decoration: none;
color: #ff8d10;
}
.adntional
{
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  color: #007AFF;

  
}
.viewall a
{
text-decoration: none;
color: #0056b3;
font-weight: bold;
font-size: 18px;

}
.social ul {
            display: flex;
            gap: 15px;
            font-family: 'Inter', sans-serif;
            list-style: none;
            padding: 0;
            margin: 0;
            outline: none;
            border: none;
            text-decoration: none;
        }
        .social ul li a {
            background-color: #f2f8ff;
            padding: 40px;
            border-radius: 10px;
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #007aff;
            font-size: 16px;
            font-family: 'Inter', sans-serif;
            list-style: none;
            padding: 0;
            margin: 0;
            outline: none;
            border: none;
            text-decoration: none;
        }
        /* ----------- */
  .lawyerProfile_p p strong{
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    color: #101828; 
  }
  .profile_contact button{
    width: 276px;;
    padding: 14px 32px 14px 32px;
    gap: 12px;
    border-radius: 10px;
    border: 1.5px solid #101828;
    opacity: 0px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #101828;
  }
  .email_icon{
    color: black !important;
  }
  .phoneForward{
    background: #007AFF !important;
    color:#fff !important;
    border: none !important;
  }
  .phoneForward_icon{
    color:#fff !important;
  }
.practice-areas h2 ,p {
  color: #101828;
  /* padding:3px 0px; */
}
.practice-areas h2{
font-size: 32px;
font-weight: 600;
text-align: left;
}
.practice-areas p{
font-size: 21px;
font-weight: 400;
line-height: 37.8px;
text-align: left;
}
.cost h2{
  font-size: 32px;
  font-weight: 600;
  line-height: 38.73px;
  text-align: left;
  color: #101828;  
}
.cost h5{
  font-size: 24px;
  font-weight: 500;
  line-height: 29.05px;
  text-align: left;
  color: #101828;  
}
.cost p{
font-size: 16px;
font-weight: 400;
text-align: left;
color: #101828;  
}
.price_color{
font-size: 18px;
font-weight: 500;
line-height: 21.78px;
text-align: right;
color: #FF8500;
margin-top: 55px;
}
.officeHour_card{
  text-align: center;
  justify-content: center;
  padding: 20px 0px;
}
.reviews h2{
font-size: 24px;
font-weight: 500;
line-height: 43.2px;
text-align: left;
color: #101828;
}
